.cache/
.circleci/
.git/
.tasks/
.idea/
.vscode/
bootstrap/cache/*
bootstrap/cache/!.gitignore
database/*.sqlite
public/
!public/index.php
scripts/
storage/app/*
storage/app/!.gitignore
storage/framework/*.php
storage/framework/cache/*
storage/framework/cache/!.gitignore
storage/framework/sessions/*
storage/framework/sessions/!.gitignore
storage/framework/views/*
storage/framework/views/!.gitignore
storage/logs/*
storage/logs/!.gitignore
vendor/
tests/
.env
.env.dist
.gitattributes
.gitignore
appspec.yml
phpunit.xml
readme.md
Task*
phpcs*
phpstan*
pint.json
rector.php
renovate.json
.phpstorm.meta.php
.phpunit.result.cache
_ide_helper.php
