includes:
    - ./phpstan-baseline.neon
    - ./vendor/nunomaduro/larastan/extension.neon
    - ./vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - phar://phpstan.phar/conf/bleedingEdge.neon

parameters:
    # PHPStan inspection level:
    level: 9

    # Larastan configuration
    checkModelProperties: true
    noUnnecessaryCollectionCall: true
    noModelMake: true
    databaseMigrationsPath:
        - database/migrations
        - database/migrations/live

    # Open error in IDE
    editorUrl: 'phpstorm://open?file=%%file%%&line=%%line%%'

    # Paths analysed
    # Analyse only files in DDD iteration
    paths:
        - app

    excludePaths:
        - app/Console/Commands/OneShot

    # PHPStan process configuration
    parallel:
        maximumNumberOfProcesses: 10
